*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.back img{
    height: auto;
    max-width: 100%;
 
}
.smallhead{
 
    background-color: black;
}
.smallhead{
    position: fixed;  

    z-index: 101;
    width: 100%;
}
.smallhead .smallheadmargin{
       margin: 0px 70px;
}
.smallhead .smallheadpaddig{
    padding: 10px 0px;
}
.smallheadflex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 780px;
}
.smallhead .smallheadflex .leafticon{
    flex: 1;
}
.smallhead .smallheadflex .textleft{
    flex: 2;
}
.smallhead .smallheadflex .leafticon ul{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.smallhead .smallheadflex .leafticon ul a{
    color: white;
}
 .smallhead .smallheadflex .textleft{
    color: white;
    /* padding-left: 20px; */
 }
 .smallhead .smallheadflex .textleft span{
    color: orange;
 }
 @media (max-width:576px) {
    .smallhead .smallheadmargin{
        margin: 0px 33px;
 }
 .smallheadflex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
}

 }
 @media (min-width:576px) {
    .smallhead .smallheadmargin{
        margin: 0px 33px;
 }
 .smallheadflex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
}

 }
 @media (min-width:768px) {
    .smallhead .smallheadmargin{
        margin: 0px 60px;
 }
 .smallheadflex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}

 }
 @media (min-width:992px) {
    .smallhead .smallheadmargin{
        margin: 0px 30px;
 }
 .smallheadflex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
}

 }
 @media (min-width:1200px) {
    .smallhead .smallheadmargin{
        margin: 0px 70px;
 }
 .smallheadflex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 500px;
}


 }
 .photo{
    position: relative;
}
.photo img{
    height: auto;
    width: 100%;
    filter: brightness(50%);
}

 
 .head{
   
    position: absolute;
    top:37px;
    left: 0;
  right: 0;

    background-color: rgb(255, 255, 255,0.2);
    /* background-color: aqua; */
 }
 .head{
    position: fixed;
    z-index: 100;
 }
 .headmargin{
    margin: 0px 70px;
 }
 .headpadding{
    padding: 5PX 0PX;
 }
 .head .headmenu{
    display: flex;
    gap: 250PX;
    justify-content: end;
    align-items: center;
    
 }
 .head .headmenu .edu{
    font-family: Konkhmer Sleokchher;
    flex: -.5;
    color: white;
 }
 .head .headmenu .headmenutext{
    flex: 1.1;
 }

 .head .headmenu .headmenutext ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30PX;

 }
 .head .headmenu .headmenutext a{
    color: white;
    font-family: Konkhmer Sleokchher;
 }
 @media (max-width:576px) {
    .headmargin{
        margin: 0px 40px;
     }
     .head .headmenu{
        display: flex;
        gap: 1PX;
        justify-content: end;
        align-items: center;
        
     }
     .head .headmenu .headmenutext ul{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5PX;
    
     }
     .head .headmenu .edu h2{
        font-size: 15px;
     }
     .head .headmenu .headmenutext ul a{
        font-size: 12px;
     }
 }
 @media (min-width:576px) {
    .headmargin{
        margin: 0px 40px;
     }
     .head .headmenu{
        display: flex;
        gap: 1PX;
        justify-content: end;
        align-items: center;
        
     }
     .head .headmenu .headmenutext ul{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5PX;
    
     }
     .head .headmenu .edu h2{
        font-size: 15px;
     }
     .head .headmenu .headmenutext ul a{
        font-size: 12px;
     }
 }
 @media (min-width:768px){
    .headmargin{
        margin: 0px 60px;
     }
     .head .headmenu{
        display: flex;
        gap: 1PX;
        justify-content: end;
        align-items: center;
        
     }
     .head .headmenu .headmenutext ul{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20PX;
    
     }
     .head .headmenu .edu h2{
        font-size: 20px;
     }
     .head .headmenu .headmenutext ul a{
        font-size: 15px;
     }
 }
 @media (min-width:992px){
   .headmargin{
        margin: 0px 30px;
     }
     }
 @media (min-width:1200px){
        .headmargin{
            max-width: 100%;
            margin: 0px 70px;
         }
       
         .head .headmenu{
            display: flex;
            gap: 1PX;
            justify-content: end;
            align-items: center;
            
         }
         
         .head .headmenu .headmenutext ul{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 25PX;
        
        
         }
         .head .headmenu .edu h2{
            font-size: 24px;
         }
         .head .headmenu .headmenutext ul a{
            font-size: 15px;
         }

     }    
     .text{
        position: absolute;
        top: 250px;
        left: 70px;
        right: 0px;
        bottom: 0px;
        color: white;
     }
     .text span{
        color: aqua;
     }
     .text h3{
        font-family: Konkhmer Sleokchher;
     }
     .text h2{
        font-family: Konkhmer Sleokchher;
     }
     .text button{
        height: 35px;
        width: 160px;
        color: white;
        border: none;
        border-radius: 15px;
        background-color:crimson;
     }
     @media (max-width:576px) {
        .text{  
             display: flex;
             column-gap: 50px;
            position: absolute;
            top:  90px;
            left: 5px;
            right: 0px;
            bottom: 0px;
            height: 150px;
            width: 500px;
        }
        .text h3{
            font-size: 15px;
        }
        .text h2{
            font-size: 15px;
        }

        
     }
     @media (min-width:576px) {
        .text{  
             display: flex;
             column-gap: 50px;
            position: absolute;
            top:  90px;
            left: 5px;
            right: 0px;
            bottom: 0px;
            height: 150px;
            width: 500px;
        }
        .text h3{
            font-size: 15px;
        }
        .text h2{
            font-size: 15px;
        }

        
     }
     @media (min-width:768px) {

        .text{  
        
             display: flex;
             column-gap: 50px;
            position: absolute;
            top:  125px;
            left: 12px;
            right: 0px;
            bottom: 0px;
            height: 150px;
            width: 650px;
        }
        .text h3{
            font-size: 15px;
        }
        .text h2{
            font-size: 15px;
        }   
     }
     @media (min-width:992px){
        .text{
            display: block;
            position: absolute;
            top: 150px;
            left: 30px;
            right: 0px;
            bottom: 0px;
            color: white;
         }
         .text h3{
            font-size: 15px;
        }
        .text h2{
            font-size: 25px;
        }


     }
     @media (min-width:1200px){
        .text{
            display: block;
            position: absolute;
            top: 180px;
            left: 70px;
            right: 0px;
            bottom: 0px;
            color: white;
         }

     }
     .page2{
        background-color: #000000;
     }


    .scroll{
       display: flex;
       gap: 40px;
       justify-content: center;
       position: absolute;
       top:496px;
       left: 156px;   
   }
   .page2 .scroll .but1{
       height: 50px;
       width: 50px;
       background-color: #faf4f4;
       color: #000000;
       position: absolute;
       left: -90px;
       top: 100px;
       border-radius: 50px;
       
   }
   .page2 .scroll .but1 button {
       height: 50px;
       width: 50px; 
        background-color: white;
        border-radius: 50px;
        border: none;
        
   }
   .page2 .scroll .but1 i{
       position: 0px;
       margin: 0px;
       font-size: 30px;
       color: black;
   
   }
   .page2 .scroll .but2{
       height: 50px;
       width: 50px;
       background-color: #faf4f4;
       color: #000000;
       position: absolute;
       left:1087px ;
       top:100px ;
       border-radius: 50px;
       
   }
   .page2 .scroll .but2 button {
       height: 50px;
       width: 50px; 
        background-color: white;
        border-radius: 50px;
        border: none;
        
   }
   .page2 .scroll .but2 i{
       position: 0px;
       margin: 0px;
       font-size: 30px;
       color: black;
   
   }
   
   .scroll1, .scroll2, .scroll3{
       height:230px ;
       width:325px ;
       background-color: #a52a2a;
       border-radius: 15px;   
   }
   .scroll i{
       font-size: 53px;
       margin-top: 27px;
       margin-left: 126px;
       color: #dbc757;
   }
   .scroll h3{
       color: #ffffff;
       margin-top: 11px;
       margin-left: 99px;
   
   }
   .scroll p{
       margin-top: 23px;
       margin-left: 52px;
       width: 203px;
       color: #ffffff;
       text-align: center;
   }
   @media (max-width:576px) {
    .scroll{
        display: block;
       
          
        gap: 5px;
        justify-content: center;
        position: absolute;
        top:280px;
        left: 130px;   
    }
    .page2{
        padding-bottom: 30px;
    }
    .page2 .scroll .but1{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left: -70px;
        top: 300px;
        border-radius: 50px;
        
    }
    .page2 .scroll .but2{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:350px ;
        top:300px ;
        border-radius: 50px;
        
    }
    .scroll1, .scroll2, .scroll3{
       margin-bottom: 10px; 
    }
   }
   @media (min-width:576px) {
    .scroll{
        display: block;
        
        gap: 5px;
        justify-content: center;
        position: absolute;
        top:280px;
        left: 130px;   
    }.page2{
        padding-bottom: 30px;
    }
    .page2 .scroll .but1{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left: -70px;
        top: 300px;
        border-radius: 50px;
        
    }
    .page2 .scroll .but2{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:350px ;
        top:300px ;
        border-radius: 50px;
        
    }
    .scroll1, .scroll2, .scroll3{
        margin-bottom: 10px; 
     }
   }
   @media (min-width:768px) {
    .scroll{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        gap: 5px;
        justify-content: center;
        position: absolute;
        top:350px;
        left: 60px;   
    }
    .page2 .scroll .but1{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left: -60px;
        top: 100px;
        border-radius: 50px;
        
    }
    .page2 .scroll .but2{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:660px ;
        top:100px ;
        border-radius: 50px;
        
    }
   }
   @media (min-width:992px){
    .scroll{
        display: flex;
        gap: 10px;
        justify-content: center;
        position: absolute;
        top:390px;
        left: 70px;   
    }
    .page2 .scroll .but1{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left: -60px;
        top: 100px;
        border-radius: 50px;
        
    }
    .page2 .scroll .but2{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:868px ;
        top:100px ;
        border-radius: 50px;
        
    }
    .scroll1, .scroll2, .scroll3{
        height:230px ;
        width:280px ;
        background-color: #a52a2a;
        border-radius: 15px;   
    } 
    .scroll i{
       font-size: 53px;
       margin-top: 27px;
       margin-left: 100px;
       color: #dbc757;
   }
   .scroll h3{
       color: #ffffff;
       margin-top: 11px;
       margin-left: 75px;
   
   }
   .scroll p{
       margin-top: 23px;
       margin-left: 30px;
       width: 203px;
       color: #ffffff;
       text-align: center;
   }
  
   }
   @media (min-width:1200px){
    .scroll{
        display: flex;
        gap: 40px;
        justify-content: center;
        position: absolute;
        top: 487px;
        left:138px;   
    }
    .page2 .scroll .but1{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left: -60px;
        top: 100px;
        border-radius: 50px;
        
    }
    .page2 .scroll .but2{
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:1067px ;
        top:100px ;
        border-radius: 50px;
        
    }
    .scroll1, .scroll2, .scroll3{
        height:230px ;
        width:325px ;
        background-color: #a52a2a;
        border-radius: 15px;   
    }
    .scroll i{
        font-size: 53px;
        margin-top: 27px;
        margin-left: 126px;
        color: #dbc757;
    }
    .scroll h3{
        color: #ffffff;
        margin-top: 11px;
        margin-left: 99px;
    
    }
    .scroll p{
        margin-top: 23px;
        margin-left: 52px;
        width: 203px;
        color: #ffffff;
        text-align: center;
    }
   }
   .back{
    height: auto;
    width: 100%;
    background-color: #000000;
    /* color: white; */
}
.back h3{
    color: #ffffff;
    padding: 177px 0px 0px 577px;
}
.video{
    background-color: #000000;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px  0px 80px 0px;
    column-gap: 2px;
    
}

.box1, .box2, .box3, .box4, .box5{
    height: 320px;
    width: 387px;
    background-color: #ffffff ;
    border-radius: 15PX;  
    position: relative;  
}

.video .rate{
    width:70px;
    height: 36px;
    border-radius: 15px;
    background: #ffffff;
    margin: 10px 0px 0px 0px;
    position: absolute;
    z-index: 1;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    
}
.back hr{
    height: 1px;
    border: none;  
    background-color:#808080   ;
}
.box1{
    height: 400px;
    grid-row: 1 / span 2;
}
.video img{
    height: 180px;
    width: 387px;
    filter: brightness(100%);

}
.back .video h3{
    width: 50x;
    color: #ff0000;
    padding: 0px 0px 0px 25px; 
}
.back .video h2{
    padding: 0px 0px 0px 27px; 
}
.back .video p{
    padding: 0px 0px 0px 0px;
}
.back .video .text1{
    margin: -52px 0px 0px 90px;
}
.box1 h4{
    padding: 25px 0px 0px 40px ;
}
.box1 p{  
    margin: 50px 0px 0px 30px;
    line-height: 40px;
    font-weight:800px;
}
.box1  button{
    color: #ffffff;
    background-color: #ff0000;
    height:30px ;
    width:30px ;
    border-radius: 15px;
    margin-left: 30PX;
    margin-top: 80PX;
    width: 300px;
}
@media (max-width:576px) {
    .back h3{
        color: #ffffff;
        padding: 700px 0px 0px 177px;
    }

    .video{
    background-color: #000000;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    padding: 45px  0px 80px 100px;
    column-gap: 2px;
    
}
}
@media (min-width:576px) {
    .back h3{
        color: #ffffff;
        padding: 700px 0px 0px 177px;
    }

    .video{
    background-color: #000000;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    padding: 45px  0px 80px 100px;
    column-gap: 2px;
    
}
}
@media (min-width:768px) {
    .back h3{
        color: #ffffff;
        padding: 500px 0px 0px 280px;
    }

    .video{
    background-color: #000000;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    padding: 45px  0px 80px 200px;
    column-gap: 2px;
    
}


}
@media (min-width:992px) {
    .back h3{
        color: #ffffff;
        padding: 177px 0px 0px 577px;
    }
    .video{
        background-color: #000000;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        padding: 45px  0px 80px 0px;
        column-gap: 2px;
        
    }
     .box2, .box3, .box4, .box5{
        height: 320px;
        width: 310px;
        background-color: #ffffff ;
        border-radius: 15PX;    
    } 
    
   .box1{
    width: 310px;
   }
   .box1  button{
    margin-left: 4PX;
    margin-top: 80PX;
    width: 300px;
}
}
@media (min-width:1200px){
    .back h3{
        color: #ffffff;
        padding: 177px 0px 0px 577px;
    }
    .video{
        background-color: #000000;
        display: grid;
        gap: 25px;

        grid-template-columns: repeat(3, 1fr);
        /* padding: 45px  0px 80px 10px; */
        margin: 45px  0px 80px 50px;
        column-gap: 3px;
        
    }
    
    .box1, .box2, .box3, .box4, .box5{
        height: 320px;
        width: 370px;
        background-color: #ffffff ;
        border-radius: 15PX;    
    }
    .box1{
        height: 400px;
        width: 400px;
        grid-row: 1 / span 2;
    }
    .box1  button{
        color: #ffffff;
        background-color: #ff0000;
        height:30px ;
        width:30px ;
        border-radius: 15px;
        margin-left: 50PX;
        margin-top: 80PX;
        width: 300px;
    }
}
.page3 img{
    height: auto;
    width: 100%;
}
.page3{
    height: auto;
    width: 100%;
    
    position: relative;
    background-color: #000000;

}
.apply{

    /* display: flex; */
    display: grid;
    gap: 70px;
    grid-template-columns:repeat(2,1fr);
    position: absolute;
    top:120px;
    left:100px ;
}
.apbox1, .apbox2, .apbox3{
    height:250px ;
    width:500px ;
    background-color: #faebd7; 
    background-color:  #ffffff33;   
}
.apbox2{
    padding: 0PX 0PX 0PX 0PX;
    background-color: #ffffff;
    border-radius: 15px;
    height: 565PX;
    grid-row:1/ span 2  ;
    grid-column: 2/ span 2;

}
.apbox1, .apbox3{
    padding: 50PX 0PX 0PX 20PX;
    color: #ffffff;
    
}
.apbox1, .apbox3, h2{
    padding-bottom: 15px;   
}
.apbox1 button{
    height: 30px;
    width:120px ;
    color: #ffffff;
    background-color:#ff0000 ;
    border-radius: 15px;
    margin-top: 25px;
    border: none;
}
.apbox3 button{
    height: 30px;
    width:120px ;
    color: #ffffff;
    background-color:#ffa500 ;
    border-radius: 15px;
    margin-top: 25px;
    border: none;
}
.page3 .apply .apbox2 .tx1{
    padding: 48px 0px 0px 50px;
    margin: 0px;
    color: #ffd700;
}
.page3 .apply .apbox2 h3{
    padding: 48px 0px 0px 50px;
    color: #000000;

}
.page3 .apply .apbox2 p{
    padding: 30px 0px 0px 80px;
}
.page3 .apply .apbox2  span{
    color: #00ffff;
}
@media (max-width:576px) {
    .page3 img{
        display: none;
        /* height: auto;
        width: 100%; */
    }
    .page3{ 
        background-color: #000000;
        height: auto;
        width: 100%;
    }    
   
.apply{
  
        display:block;

        position: absolute;
        top:1px;
        left:20px 
}
.apbox1{
   order:2;
   margin-bottom: 10px;
}
.apbox2{
  order:1;
  margin-bottom: 10px;
}
.apbox3{
    order:3;
    margin-bottom: 10px;

}
.apbox1, .apbox2, .apbox3{
    margin-bottom: 10px;
    margin-left: 25px;
}  
}
@media (min-width:576px) {
    .page3 img{
        display: none;
        /* height: auto;
        width: 100%; */
    }
    .page3{ 
        background-color: #000000;
        height: auto;
        width: 100%;
    }    
    
.apply{
      
        display:block;

        position: absolute;
        top:1px;
        left:20px 
}
.apbox1{
   order:2;
   margin-bottom: 10px;
}
.apbox2{
  order:1;
  margin-bottom: 10px;
}
.apbox3{
    order:3;
    margin-bottom: 10px;

}
.apbox1, .apbox2, .apbox3{
    margin-bottom: 10px;
    margin-left: 25px;
}  
}
@media (min-width:768px) {
    .page3 img{
        display: none;
        height: auto;
        width: 100%;
    }
.apply{
        /* display: flex; */
        display:block;
        
        
        /* gap: 70px; */
        /* grid-template-columns:repeat(1,1fr); */
        position: absolute;
        top:1px;
        left:20px 
}

.apbox1, .apbox2, .apbox3{
    margin-bottom: 10px;
    margin-left: 130px;
}  
}
@media (min-width:992px) {
    .page3 img{
        display: flex
        ;
        height: auto;
        width: 100%;
    }   
    .apply{
        /* display: flex; */
        display: grid;
        gap: 10px;
        grid-template-columns:repeat(2,1fr);
        position: absolute;
        top:50px;
        left:10px ;
    } 
    .apbox2{
        width: 450px;
    }
    .apbox1, .apbox2, .apbox3{
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .page3 .apply .apbox2 .tx1{
        padding: 48px 0px 0px 20px;
        margin: 0px;
        color: #ffd700;
    }
    .page3 .apply .apbox2 h3{
        padding: 48px 0px 0px 20px;
        color: #000000;
    
    }
    .page3 .apply .apbox2 p{
        padding: 30px 0px 0px 50px;
    }
}
@media (min-width:1200px) {
    .apply{
        /* display: flex; */
        display: grid;
        gap: 70px;
        grid-template-columns:repeat(2,1fr);
        position: absolute;
        top:120px;
        left:100px ;
    }
    .apbox1, .apbox2, .apbox3{
        height:250px ;
        width:500px ;
        background-color: #faebd7; 
        background-color:  #ffffff33;   
    }
    .page3 .apply .apbox2 .tx1{
        padding: 48px 0px 0px 50px;
        margin: 0px;
        color: #ffd700;
    }
    .page3 .apply .apbox2 h3{
        padding: 48px 0px 0px 50px;
        color: #000000;
    
    }
    .page3 .apply .apbox2 p{
        padding: 30px 0px 0px 80px;
    }
    .apbox2{
        padding: 0PX 0PX 0PX 0PX;
        background-color: #ffffff;
        border-radius: 15px;
        height: 565PX;
        grid-row:1/ span 2  ;
        grid-column: 2/ span 2;
    
    }
}

/* ==========empty div======== */
.star{
    background-color:transparent;
    height: 1100px;
}
@media (min-width:992px) {
    .star{
        height: 0px;
    }
    
}
/* =========empty div close======= */

.page4 h3{
    color: #ffffff;
    background-color: #000000;
    padding: 70px 0px 0px 100px;
}
.pbox{
    height: auto;
    width: 100%;
   background-color: #000000;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    padding: 70px 0px 80px 0px;
    position: relative;
}
.page4 .pbox .but3{
    height: 50px;
    width: 50px;
    background-color: #faf4f4;
    color: #000000;
    position: absolute;
    left:47px;
    top:147px ;
    border-radius: 50px;

}
.page4 .pbox .but3 i{
    font-size: 30px;
    color: #000000;
    padding: 12px;
}
.page4 .pbox .but4{
    height: 50px;
    width: 50px;
    background-color: #faf4f4;
    color: #000000;
    position: absolute;
    left:1247px;
    top:157px ;
    border-radius: 50px;

}
.page4 .pbox .but4 i{
    font-size: 30px;
    color: #000000;
    padding: 12px;
}

.pbox1, .pbox2, .pbox3, .pbox4{
    height: 220px;
    width:250px ;
    background-color:#ffffff;
    border: 2px solid #000000;
}
.page4 .pbox .pbox3{

    padding-bottom: 20px;
    height: 240px;
}
.page4 .pbox img{
    height: 110px;
    width: 100%;
    filter: brightness(100%);
}  
.page4 .pbox h4{
    color:#000000;
    padding: 10px 0px 0px 0px;
    text-align: center;
}
.page4 .pbox i{
    color: #ffd700;
    padding: 20px 0px 0px 2px;
}
.page4 .pbox span{
    color: #ff0000;
    padding-left: 55px;
}
@media (max-width:576px) {
    .page4{
        height: auto;
        width: 100%;  
      
    }
    .pbox{
        height: auto;
        width: 100%;    
         display: grid;
         
         grid-template-columns: repeat(2,1fr);
         /* justify-content: center;
         align-items: center; */
         /* gap: 30px; */
         /* padding: 70px 0px 80px 0px; */
           margin: 0px 5px 0px 11px;
         position: relative;
         
     }
     .page4 .pbox .but3{
        display: none;
        
    }
   
    .page4 .pbox .but4{
        display: none;
    
    
}
.page4 .pbox .pbox3{
    padding-bottom: 0px;
    height: 220px;
}
.page4 .pbox3 i{
    padding: 10px 0px 0px 2px;
}
}
@media (min-width:576px) {
    .page4{
        height: auto;
        width: 100%;  
      
    }
    .pbox{
        height: auto;
        width: 100%;    
         display: grid;
         
         grid-template-columns: repeat(2,1fr);
         /* justify-content: center;
         align-items: center; */
         /* gap: 30px; */
         /* padding: 70px 0px 80px 0px; */
           margin: 0px 5px 0px 11px;
         position: relative;
         
     }
     .page4 .pbox .but3{
        display: none;
        
    }
   
    .page4 .pbox .but4{
        display: none;
    
    
}
.page4 .pbox .pbox3{
    padding-bottom: 0px;
    height: 220px;
}
.page4 .pbox3 i{
    padding: 10px 0px 0px 2px;
}
}
@media (min-width:768px){

    .page4{
        height: auto;
        width: 100%;  
      
    }
    .pbox{
        height: auto;
        width: 100%;    
         display: grid;
         
         grid-template-columns: repeat(2,1fr);
         /* justify-content: center;
         align-items: center; */
         /* gap: 30px; */
         /* padding: 70px 0px 80px 0px; */
           margin: 0px 5px 0px 55px;
         position: relative;
         
     }
     .page4 .pbox .but3{
        display: none;
        
    }
   
    .page4 .pbox .but4{
        display: none;
    
    
}
.page4 .pbox .pbox3{
    padding-bottom: 0px;
    height: 220px;
}
.page4 .pbox3 i{
    padding: 10px 0px 0px 2px;
}
}
@media (min-width:992px) {
    .pbox{
        height: auto;
        width: 100%;
       background-color: #000000;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 10px;
        padding: 70px 0px 80px 0px;
        margin: 0px 5px 0px 5px;
        position: relative;
    }
    
    .page4 .pbox .pbox3{

        padding-bottom: 20px;
        height: 240px;
    }
    .page4 .pbox i{
        color: #ffd700;
        padding: 20px 0px 0px 2px;
    }
    .pbox1, .pbox2, .pbox3, .pbox4{
        width: 220px;
    }
    .page4 .pbox span{
        color: #ff0000;
        padding-left: 15px;
    }
}
@media (min-width:1200px) {
    .pbox{
        height: auto;
        width: 100%;
       background-color: #000000;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 20px;
        padding: 70px 0px 80px 0px;
        position: relative;
    }
    .pbox1, .pbox2, .pbox3, .pbox4{

        width:250px ;
    }
    .page4 .pbox span{
       
        padding-left: 15px;
    }
    .page4 .pbox .but3{
        display: block;
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:5px;
        top:147px ;
        border-radius: 50px;
    
    }
    .page4 .pbox .but4{
        display: block;
        height: 50px;
        width: 50px;
        background-color: #faf4f4;
        color: #000000;
        position: absolute;
        left:1280px;
        top:157px ;
        border-radius: 50px;
    
    }
}
.page5{
    position: relative;
    background-color: #000000;
}
.page5 img{
    width: 100%;
    height: 700px;
    filter: brightness(25%);
}
.pagbox {
    display: flex;
    position: absolute;
    gap: 70PX;
    top: 150PX;
    left: 50PX;
}
.nbox, .vbox{
    height: 500px;
    width: 650px;
    /* background-color: bisque; */
   
}
.vbox{
    height: 350px;
    width: 400px;
    border-radius: 15px;
     border: 2px solid #000000;
     position: relative;

}
.vbox img{
    height: 350px;
    width: 400px;
    border-radius: 15px;
    filter: brightness(100%);
    background-color: #ffa500;
    mix-blend-mode: exclusion;
    filter: sepia(50%);
}
.page5 .vbox i{
    font-size: 100px;
    color:white;
    position: absolute;
    top: 185px;
    right: 150px;
    /* background-color: white; */

}
.nbox{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center ;
    align-items: center;
    gap: 30px;
    
    padding-left: 0px;
    align-content: center;
}
.nbox1, .nbox2, .nbox3, .nbox4{
    height: 100px;
    width: 190px;   
    border-radius:15px ;
    background-color: #ffffff33;
    
}
.nbox1, .nbox3{
    transform: translate(0px,-40px);
}
.page5 .nbox h3{
    padding: 10px 0px 0px 20px;
    text-align: center;
    color: #faf4f4;
}
.page5 .nbox h2{
    padding: 25px 0px 0px 80px;
    color: #ffd700 ;   
}
.page5 .nbox .nbox4 h3{

    padding-left: 0px;
}
.few{
    width: 500px;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: -50px;
    left: 109px;
    font-family: Konkhmer Sleokchher;
    line-height: 50px;
}
@media (max-width:576px) {
    .pagbox {
        display: block;
        position: absolute;
        left: 100PX;
       
    }
    .nbox{
        width: 400PX;
    }
    .few{
       
        font-size: 25px;
      
        left: 0px;
       
    }
    .page5 .bgim img{
        display: none;
    }
    .nbox1, .nbox2, .nbox3, .nbox4{
        background-color: #faf4f4;
    }
    .page5 .nbox h3{
        color: black;
    }
}
@media (min-width:576px) {
    .pagbox {
        display: block;
        position: absolute;
        left: 100PX;
       
    }
    .nbox{
        width: 400PX;
    }
    .few{
       
        font-size: 25px;
      
        left: 0px;
       
    }
    .page5 .bgim img{
        display: none;
    }
    .nbox1, .nbox2, .nbox3, .nbox4{
        background-color: #faf4f4;
    }
    .page5 .nbox h3{
        color: black;
    }
}
@media (min-width:768px) {
    .pagbox {
        display: block;
        position: absolute;
        left: 200PX;
       
    }
    
    
}
@media (min-width:992px) {
    .pagbox {
        display: flex;
        position: absolute;
        gap: 70PX;
        top: 150PX;
        left: 50PX;
    }
    .page5 .bgim img{
        display: block;
    }
    .nbox1, .nbox2, .nbox3, .nbox4{
        background-color: #ffffff33;;
    }
    .page5 .nbox h3{
        color: #faf4f4;
    }
}
@media (min-width:1200px) {
    .pagbox {
        display: flex;
        position: absolute;
        gap: 70PX;
        top: 150PX;
        left: 50PX;
    }
    .page5 .bgim img{
        display: block;
    }
    .nbox{
     
        width: 650px;
   
    }
    .few{
     
        font-size: 40px;
       
        left: 109px;
        
    }
}
.cover{
    background-color:transparent;
    height: 1050px;
}
.page6{
    height:600px ;
    width: 100%;
    background-color:black ;
    display: flex;
    align-items: center;
    gap: 40px;

}
.page6 .last1{
    width: 800px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 45px;    
    margin-left: 90px;
    padding-top: 50px;
}
 .page6 .last2{
    width: 350px;
    height: 450px;
    background-color:#a52a2a;
    border-radius: 25px;
    color: #ffffff;
    padding: 30px 40px 0px 40px;
    font-size: 15px;
    font-family: Konkhmer Sleokchher;
    
}
.page6 .last1 h2{
    font-family: Konkhmer Sleokchher;
}
.page6 .last1 input{
    height: 30px;
    width: 200px;
    border-radius: 25px;
    background-color: #faf4f4;
    border: none;
    padding-left: 10PX;

    
}
.page6 .last1 .input1{
    height: 140px;
    width: 700px;
}
.page6 .last1 .input1 placeholder{
    padding: 50px;
    margin: 50px;
}
.page6 .last1 button{
    height: 40px;
    width: 200px;
    border-radius: 25px;
    background-color: #ff0000;
    border: none;
    
}
@media (max-width:576px) {
    .page6{
        display: block;
    }
    .page6 .last1{
        width: 550px;
        height: 450px;
       
        margin-left: 15px;
        padding-top: 50px;
        margin-bottom: 15px;
    }
     .page6 .last2{
       
       
        margin-left: 110px;
      
        
    }
    .page6 .last1 .input1{
        height: 140px;
        width: 400px;
    }
    .page6 .last1 .name1{
        margin-bottom: 20px;
    }
}
@media (min-width:576px) {
    .page6{
        display: block;
    }
    .page6 .last1{
        width: 550px;
        height: 450px;
       
        margin-left: 15px;
        padding-top: 50px;
        margin-bottom: 15px;
    }
     .page6 .last2{
       
       
        margin-left: 110px;
      
        
    }
    .page6 .last1 .input1{
        height: 140px;
        width: 400px;
    }
    .page6 .last1 .name1{
        margin-bottom: 20px;
    }
    
}
@media (min-width:768px) {
    
    .page6 .last1{
        width: 700px;
        margin-left: 40px;
    }
}
@media (min-width:992px) {
    .cover{
        display: none;
    }
    .page6{
        height:600px ;
        width: 100%;
        background-color:black ;
        display: flex;
        align-items: center;
        gap: 30px;
    
    }
    .page6 .last1{
        width:800px;
    }
    .page6 .last2{
        margin-right: 20px;
        margin-left: 50px;
    }
    
}
@media (min-width:1200px) {
    .page6 .last2{
        margin-right: 20px;
    }

    
}