*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    margin:0px 80px;
}
/*========header menubar===========*/
header{
    background-color: #d01326;
}
.header-p{
    padding: 10px 0px;
}
header .menubar{
display: flex;
align-items: center;
}
header .menubar .logo-bar{
    flex:1;
}
.header .menubar .nav-bar{
flex: 1;
display: flex;
justify-content: end;
}
header .menubar ul{
    display: flex;
    justify-content: space-between;
}
header .menubar ul li{
    padding: 20px;

}
header .menubar .nav-bar a {
    color: white;
    font-weight: 600;
    transition: 1ms all ease-in;
}
header .menubar .nav-bar a:hover{
    color: orange;
    transition: 1ms all ease-in-out;
    
}
header .menubar .nav-bar a .active {
    color: orange;
}
header .menubar .nav-bar a span {
    font-size: 72px;
}
header .menubar .togl-btn{
    display: flex;
justify-content: end;
}
header .menubar .togl-btn button{
display: none;
height: 40px;
width: 40px;
font-size: 22px;
border-radius: 10px;
border: 1px solid darkblue;
}
/*========drop down menu==============*/
header .menubar .nav-bar .drop-menu{
    position: relative;
}
header .menubar .nav-bar .drop-menu{
    display: none;
}
header .menubar .nav-bar .display:hover .drop-menu{
    display: block;
    position: absolute;
    top: 60;
    
    width: 150px;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
}
header .menubar .nav-bar .drop-menu li{
    padding: 10px;
}
header .menubar .nav-bar .drop-menu a{
    color: black;
}
header .menubar .nav-bar .drop-menu a:hover{
    color: orange;
}
header .menubar .nav-bar .drop-menu .cube{
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    left: 35px;
    top: -5px;
    transform: rotate(45deg);
}
/*=======slider page===============*/
.slide-bar .containe-box{
    display: flex;
}
.slide-bar .containe-box .left-side{
    flex: 1;
    display: grid;
    place-content: center;
    padding: 20px 0px;
    
    
}
.slide-bar .containe-box .left-side h5{
font-size: 30px;
font-weight: 300;
color: #006989;
padding-bottom: 10px;
}
.slide-bar .containe-box .left-side h1 {
    font-size: 40px;
    font-weight: 100px;
}
.slide-bar .containe-box .left-side  h1 span {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;

}
.slide-bar .containe-box .left-side p{
    font-size: 18px;
    color: rgb(73, 72, 72);
    padding-bottom: 20px;
}
.slide-bar .containe-box .left-side .btn-readmore{
    height: 30px;
    width: 110px;
    font-weight: 300;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    display: grid;
    position: relative;
    place-content: centre;
}
.slide-bar .containe-box .left-side.btn-readmore .readl{
    color:  #125f77;

    transition: 0.5ms all ease-in;
}
.slide-bar .containe-box .left-side .btn-readmore .overlay{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    transform: scale(0);
    transform-origin: 100% 100%;
    place-content: centre;
    height: 100%;
    width: 100%;
    transition: 0.5ms all ease;
}
.slide-bar .containe-box .left-side .btn-readmore  .readl{
color: rgb(176, 181, 198);
}
.slide-bar .containe-box .left-side .btn-readmore:hover .readl{
    color: rgb(23, 9, 48);
}
.slide-bar .containe-box .left-side .btn-readmore .overlay{
    transform: scale(1);
}




.slide-bar .containe-box .right-side{
    flex: 1;
}
.slide-bar .containe-box .right-side img{
    max-width: 100%;
    height: auto;
}
/*========boking section=============*/
.boking-section .boking-pad{
    padding: 50px 0px;
    
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.boking-section .grid-box .grid-1 .icon{
    background-color: #94676b49;
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    transition: 1s all ease;
}
.boking-section .grid-box .grid-1 .icon i{
    font-size: 25px;
    color: red;
    transition: 1s all ease;
    
}
.boking-section .grid-box .grid-1:hover .icon{
    background-color: rgba(0, 0, 255, 0.322);
}
.boking-section .grid-box .grid-1:hover .icon i{
    color: darkcyan;
}
.boking-section .grid-box .grid-1 .text{
    padding: 20px;
}
.boking-section .grid-box .grid-1 .text h2{
    color: black;
    transition: 1s all ease;
}
.boking-section .grid-box .grid-1 .text h2:hover{
    color: pink;
    transition: 1s all ease;
}
.boking-section .grid-box .grid-1 .text p{
    color: gray;
    padding: 10px 0px;
    
}
/*============packeges====================*/
